* {
  box-sizing: border-box;
}

html {
  font-size: 1vw;
  scrollbar-color: #b321ed #000000;
}

@font-face {
  font-family: "AppleSDGothicNeoSB00-05";
  src: url(source/font/AppleSDGothicNeoSB00-05.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
  unicode-range:
    U+AC00-D7A3, U+1100-11FF, U+3130-318F, U+3000-3009, U+300A-303F,
    U+25A0-25CA, U+25CC-25FF, U+4E00-9FFF;
}
@font-face {
  font-family: "AppleSDGothicNeoSB00-05";
  src: url(source/font/CoralPixels-Regular.ttf) format("truetype");
  unicode-range: U+0000-02AF, U+2010-2027, U+2030-205E, U+25CB;
  font-weight: normal;
  font-style: normal;
  size-adjust: 110%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AppleSDGothicNeoSB00-05", sans-serif;
  word-break: keep-all;
  overflow-wrap: break-word;
  background-color: #000000;
  line-height: 1.4;
}
::selection {
  background-color: #b321ed;
  color: #1e1c24;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #b321ed;
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: 12fr 210fr 40fr;
  min-height: 100vh;
  margin-top: 0em;
  padding-left: 10em;
  padding-right: 1em;
}

.button,
.search-button {
  position: absolute;
  left: 1em;
  cursor: pointer;
  color: #fff;
  font-size: 1.92em;
  word-spacing: -0.07em;
  line-height: 1.25em;
  transform: scaleX(0.58);
  transform-origin: left top;
}

.button:hover,
.search-button:hover {
  color: #b321ed;
}

.button.is-end {
  cursor: default;
  pointer-events: none;
}

.button {
  top: 0.375em;
}

.search-button {
  top: 1.625em;
}

.text {
  grid-column: 2;
  color: white;
  font-size: 2.4em;
  line-height: 1.25em;
  padding-right: 1em;
  word-spacing: -0.07em;
  margin-top: 0.3em;
  -webkit-font-smoothing: antialiased;
}

.sub p,
.sub2 p,
.sub3 p,
.sub4 p,
.sub5 p,
.sub6 p,
.sub7 p,
.sub8 p {
  margin: 0;
}

.text p {
  margin: 0;
  transform: scaleX(0.58);
  transform-origin: left top;
  width: 172.41%;
  will-change: transform;
  backface-visibility: hidden;
}
.text p.tilt {
  transform: scaleX(0.58) skewX(-11deg);
}

.t1:hover,
.t2:hover,
.t3:hover,
.t4:hover,
.t5:hover,
.t6:hover,
.t7:hover,
.t8:hover,
.t9:hover,
.t10:hover,
.t11:hover,
.t12:hover,
.t13:hover,
.t14:hover,
.t15:hover,
.t16:hover {
  color: #b321ed;
}

.t2,
.t3,
.t4,
.t5,
.t6,
.t7,
.t9,
.t10,
.t11,
.t12,
.t14,
.t15,
.t16 {
  display: none;
}

.text p:nth-of-type(even) {
  padding-left: 3em;
}

.t2.visible,
.t3.visible,
.t4.visible,
.t5.visible,
.t6.visible,
.t7.visible,
.t9.visible,
.t10.visible,
.t11.visible,
.t12.visible,
.t14.visible,
.t15.visible,
.t16.visible {
  display: block;
}

.word {
  opacity: 0;
  transition: opacity 800ms;
  will-change: opacity;
}

.word.show {
  opacity: 1;
}

.sub,
.sub2,
.sub3,
.sub4,
.sub5,
.sub6,
.sub7,
.sub8 {
  grid-column: 3;
  grid-row: 1;
  position: absolute;
  right: 1em;
  color: #b321ed;
  font-size: 0.85em;
  line-height: 1.4em;
  opacity: 0;
  word-spacing: -0.1em;
  transition: opacity 0s ease;
  pointer-events: none;
}

.sub.visible,
.sub2.visible,
.sub3.visible,
.sub4.visible,
.sub5.visible,
.sub6.visible,
.sub7.visible,
.sub8.visible {
  opacity: 1;
}

.scene-image,
.scene-image-2,
.scene-image-3,
.scene-image-4,
.scene-image-6,
.scene-image-7,
.scene-image-8,
.scene-image-9,
.scene-image-10,
.scene-image-11,
.scene-image-12,
.scene-image-13,
.scene-image-14,
.scene-image-15,
.scene-image-16,
.scene-image-17,
.scene-image-18,
.scene-image-19,
.scene-image-20,
.scene-image-21,
.scene-image-22,
.scene-image-23,
.scene-image-24,
.scene-image-25,
.scene-image-26,
.scene-image-27,
.scene-image-28,
.scene-image-29,
.scene-image-30,
.scene-image-31,
.scene-image-32,
.scene-image-33,
.scene-image-34,
.scene-image-35,
.scene-image-36,
.scene-image-37,
.scene-image-38,
.scene-image-39,
.scene-image-40 {
  display: none;
  opacity: 0;
  transition: opacity 1500ms;
}

.scene-image.visible,
.scene-image-2.visible,
.scene-image-3.visible,
.scene-image-4.visible,
.scene-image-6.visible,
.scene-image-7.visible,
.scene-image-8.visible,
.scene-image-9.visible,
.scene-image-10.visible,
.scene-image-11.visible,
.scene-image-12.visible,
.scene-image-13.visible,
.scene-image-14.visible,
.scene-image-15.visible,
.scene-image-16.visible,
.scene-image-17.visible,
.scene-image-18.visible,
.scene-image-19.visible,
.scene-image-20.visible,
.scene-image-21.visible,
.scene-image-22.visible,
.scene-image-23.visible,
.scene-image-24.visible,
.scene-image-25.visible,
.scene-image-26.visible,
.scene-image-27.visible,
.scene-image-28.visible,
.scene-image-29.visible,
.scene-image-30.visible,
.scene-image-31.visible,
.scene-image-32.visible,
.scene-image-33.visible,
.scene-image-34.visible,
.scene-image-35.visible,
.scene-image-36.visible,
.scene-image-37.visible,
.scene-image-38.visible,
.scene-image-39.visible,
.scene-image-40.visible {
  display: block;
}

.scene-image.show,
.scene-image-2.show,
.scene-image-3.show,
.scene-image-4.show,
.scene-image-6.show,
.scene-image-7.show,
.scene-image-8.show,
.scene-image-9.show,
.scene-image-10.show,
.scene-image-11.show,
.scene-image-12.show,
.scene-image-13.show,
.scene-image-14.show,
.scene-image-15.show,
.scene-image-16.show,
.scene-image-17.show,
.scene-image-18.show,
.scene-image-19.show,
.scene-image-20.show,
.scene-image-21.show,
.scene-image-22.show,
.scene-image-23.show,
.scene-image-24.show,
.scene-image-25.show,
.scene-image-26.show,
.scene-image-27.show,
.scene-image-28.show,
.scene-image-29.show,
.scene-image-30.show,
.scene-image-31.show,
.scene-image-32.show,
.scene-image-33.show,
.scene-image-34.show,
.scene-image-35.show,
.scene-image-36.show,
.scene-image-37.show,
.scene-image-38.show,
.scene-image-39.show,
.scene-image-40.show {
  opacity: 1;
}

.scene-image-7 {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.scene-image-8 {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.scene-image-9 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 66.5%;
  height: 66.5%;
  object-fit: contain;
  z-index: -1;
}

.scene-image-10 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.scene-image-11 {
  position: fixed;
  bottom: 3%;
  left: 0;
  width: 23.1%;
  height: 23.1%;
  object-fit: contain;
  z-index: -1;
}

.hover-image {
  display: none;
  position: fixed;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 23.8em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-2 {
  display: none;
  position: fixed;
  left: 50%;
  top: 0;
  width: 23.8em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-2.visible {
  display: block;
}

.hover-image-3 {
  display: none;
  position: fixed;
  right: 20%;
  bottom: 10%;
  width: 41.06em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-3.visible {
  display: block;
}

.hover-image-7 {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 23%;
  transform: translateX(-50%);
  width: 16em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-7.visible {
  display: block;
}

.hover-image-11 {
  display: none;
  position: fixed;
  right: 18%;
  top: 13%;
  width: 18em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-11.visible {
  display: block;
}

.hover-image-9 {
  display: none;
  position: fixed;
  left: 5%;
  top: 60%;
  transform: translateY(-50%);
  width: 23.8em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-9.visible {
  display: block;
}

.hover-image-10 {
  display: none;
  position: fixed;
  left: 40%;
  top: 40%;
  width: 20em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-10.visible {
  display: block;
}

.hover-image-12 {
  display: none;
  position: fixed;
  left: 42%;
  top: 30%;
  width: 15em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-12.visible {
  display: block;
}

.hover-image-13 {
  display: none;
  position: fixed;
  left: 10em;
  top: 14em;
  width: 18.2em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-13.visible {
  display: block;
}

.hover-image-14 {
  display: none;
  position: fixed;
  left: 30%;
  top: 26%;
  width: 22.4em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-14.visible {
  display: block;
}

.hover-image-15 {
  display: none;
  position: fixed;
  left: 30%;
  top: 32%;
  width: 12em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-15.visible {
  display: block;
}

.hover-image-16 {
  display: none;
  position: fixed;
  left: 3%;
  top: 38%;
  width: 11em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-16.visible {
  display: block;
}

.hover-image-17 {
  display: none;
  position: fixed;
  left: 3%;
  bottom: 3%;
  width: 18em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-17.visible {
  display: block;
}

.hover-image-8 {
  display: none;
  position: fixed;
  left: 10em;
  top: 13em;
  width: 15em;
  height: auto;
  max-height: 78vh;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-8.visible {
  display: block;
}

.hover-image-6 {
  display: none;
  position: fixed;
  left: 10%;
  top: 10%;
  width: 30.94em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-6.visible {
  display: block;
}

.hover-image-5 {
  display: none;
  position: fixed;
  left: 10%;
  top: 5%;
  width: 18.33em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-5.visible {
  display: block;
}

.hover-image-4 {
  display: none;
  position: fixed;
  left: 20%;
  top: 40%;
  transform: translateY(-50%);
  width: 23.8em;
  object-fit: contain;
  pointer-events: none;
}

.hover-image-4.visible {
  display: block;
}

.hover-image.visible {
  display: block;
}

.scene-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 70%;
  object-fit: cover;
  z-index: -1;
}

.scene-image-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40.32%;
  height: 40.32%;
  object-fit: contain;
  z-index: -1;
}

.scene-image-3 {
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 38.33%;
  height: 38.33%;
  object-fit: cover;
  z-index: -1;
}

.scene-image-4 {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.scene-image-13 {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.scene-image-14 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 40%;
  object-fit: contain;
  object-position: bottom left;
  z-index: -1;
}

.scene-image-40 {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.scene-image-39 {
  position: fixed;
  right: -2%;
  top: 15%;
  width: 45%;
  object-fit: contain;
  z-index: -1;
}

.scene-image-38 {
  position: fixed;
  top: 0;
  right: 0;
  height: 60%;
  width: auto;
  object-fit: contain;
  object-position: top right;
  z-index: -1;
}

.scene-image-37 {
  position: fixed;
  bottom: 0;
  left: 75%;
  transform: translateX(-50%);
  height: 47.5%;
  width: auto;
  object-fit: contain;
  object-position: bottom center;
  z-index: -1;
}

.scene-image-36 {
  position: fixed;
  bottom: 2%;
  left: 0;
  width: 35%;
  height: 35%;
  object-fit: contain;
  object-position: bottom left;
  z-index: -1;
}

.scene-image-35 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 60%;
  object-fit: contain;
  object-position: bottom right;
  z-index: -1;
}

.scene-image-34 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 42%;
  height: 42%;
  object-fit: contain;
  object-position: bottom left;
  z-index: -1;
}

.scene-image-15 {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  z-index: -1;
}

.scene-image-16 {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 54%;
  width: auto;
  object-fit: contain;
  object-position: bottom left;
  clip-path: inset(3%);
  z-index: -1;
}

.scene-image-17 {
  position: fixed;
  bottom: 0;
  right: 12%;
  width: 32.4%;
  height: 32.4%;
  object-fit: contain;
  object-position: bottom right;
  z-index: -1;
}

.scene-image-18 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 26%;
  object-fit: contain;
  z-index: -1;
}

.scene-image-19 {
  position: absolute;
  bottom: 0;
  right: 7%;
  width: 67.5%;
  height: 63%;
  object-fit: contain;
  object-position: bottom right;
  z-index: -1;
}

.scene-image-20 {
  position: fixed;
  bottom: 0;
  right: 5%;
  width: 81%;
  height: 81%;
  object-fit: contain;
  object-position: bottom right;
  z-index: -1;
}

.scene-image-21 {
  position: fixed;
  left: 20%;
  top: 40%;
  transform: translateX(-50%);
  height: 60%;
  width: auto;
  object-fit: contain;
  z-index: -1;
}

.scene-image-22 {
  position: fixed;
  right: -3%;
  top: 19%;
  width: 52%;
  object-fit: contain;
  z-index: -1;
}

.scene-image-23 {
  position: fixed;
  bottom: 0;
  right: 5%;
  width: 80%;
  height: 80%;
  object-fit: contain;
  object-position: bottom right;
  z-index: -1;
}

.scene-image-24 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 70%;
  object-fit: contain;
  object-position: bottom left;
  z-index: -1;
}

.scene-image-25 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 70%;
  object-fit: contain;
  object-position: bottom right;
  z-index: -1;
}

.scene-image-26 {
  position: fixed;
  top: 0;
  right: 0;
  width: 23.8%;
  object-fit: contain;
  z-index: -1;
}

.scene-image-33 {
  position: fixed;
  bottom: 0;
  right: 6%;
  width: 40%;
  height: 40%;
  object-fit: contain;
  object-position: bottom right;
  z-index: -1;
}

.scene-image-31 {
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 16.7%;
  height: 16.7%;
  object-fit: contain;
  object-position: bottom left;
  z-index: -1;
}

.scene-image-30 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 58.5%;
  height: 58.5%;
  object-fit: contain;
  object-position: bottom left;
  z-index: -1;
}

.scene-image-29 {
  position: fixed;
  bottom: 0;
  left: 3%;
  height: 60%;
  width: auto;
  object-fit: contain;
  object-position: bottom left;
  z-index: -1;
}

.scene-image-28 {
  position: fixed;
  bottom: 0;
  left: 20%;
  transform: translateX(-50%);
  height: 69.3%;
  width: auto;
  object-fit: contain;
  object-position: bottom center;
  z-index: -1;
}

.scene-image-27 {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 40%;
  height: 40%;
  object-fit: contain;
  object-position: bottom right;
  z-index: -1;
}

.scene-image-6 {
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 15%;
  object-fit: contain;
  z-index: -1;
}

.scene-image-12 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  object-fit: contain;
  object-position: bottom right;
  z-index: -1;
}

.scene-image-32 {
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 50%;
  height: 50%;
  object-fit: contain;
  object-position: bottom left;
  z-index: -1;
}

.bg-imgs {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -2;
  opacity: 0.35;
}

.bg-imgs img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.triforce {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vmin;
  height: 77.9423vmin;
  transform: translate(-50%, -50%);
}

.tri {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.tri-top {
  clip-path: polygon(50% 0%, 25% 50%, 75% 50%);
}

.tri-left {
  clip-path: polygon(25% 50%, 0% 100%, 50% 100%);
}

.tri-right {
  clip-path: polygon(75% 50%, 50% 100%, 100% 100%);
}

.tri-imgs {
  position: absolute;
  inset: 0;
}

.tri-imgs img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.search-form {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 22%;
  transform: translateX(-50%);
}

.search-input {
  width: 172.41%;
  background: transparent;
  border: none;
  color: #ffffff;
  font-family: "AppleSDGothicNeoSB00-05", sans-serif;
  font-size: 2.4em;
  line-height: 1.25em;
  word-spacing: -0.07em;
  text-align: center;
  padding: 0.3em 0;
  outline: none;
  transform: scaleX(0.58);
  transform-origin: left top;
  will-change: transform;
  backface-visibility: hidden;
}

.search-input::placeholder {
  color: #666666;
}
